@import '/vendor/filament/filament/resources/css/theme.css';
.fi-ta-ctn .py-4 {
    padding-top: .3rem !important;
    padding-bottom: .3rem !important;
}
.fi-sidebar-nav-groups  {

    @apply gap-y-2;
}
.fi-section.flush .fi-section-content {
    padding: 4px !important;
    margin: 4px !important;
}
@config 'tailwind.config.js';
